.aboutMeCard {
  border: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 10px;
}

.aboutMeCard:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.cardText {
  line-height: 1.8;
}
