img {
  box-shadow: none !important;
}

.badgeContainer {
  text-align: center;
}

.badgeImage {
  width: 130px;
  height: auto;
  margin: 0 auto;
  display: block;
  border: none !important;
}

.badgeDate {
  color: var(--badge-color) !important;
  font-size: 0.7rem !important;
}

.badgeText {
  color: var(--badge-color);
  text-decoration: none;
  text-transform: uppercase !important;
  font-size: 0.7rem;
}

@media (max-width: 575px) {
  .badgeImage {
    width: 100px;
  }
}

@media (max-width: 350px) {
  .badgeImage {
    width: 85px;
  }

  .badgeText {
    font-size: 0.6rem;
  }
  .badgeDate {
    font-size: 0.6rem !important;
  }
}
