img {
  box-shadow: none !important;
}

.badgeContainer {
  text-align: center;
}

.badgeImage {
  width: 130px;
  height: auto;
  margin: 0 auto;
  display: block;
  border: none;
  filter: brightness(0.9);
  opacity: 0.8;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.15),
    0 6px 24px rgba(0, 0, 0, 0.15);
  transition: var(--transition);
}

.badgeImage:hover {
  opacity: 1;
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.3),
    0 12px 48px rgba(0, 0, 0, 0.3);
}

.badgeText {
  color: var(--badge-color);
  opacity: 0.8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
}

@media (max-width: 575px) {
  .badgeImage {
    width: 105px;
  }
}

@media (max-width: 350px) {
  .badgeImage {
    width: 90px;
  }

  .badgeText {
    font-size: 0.6rem;
  }
}
