img {
  box-shadow: none !important;
}

.badgeContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 3rem;
}

.badgeImage {
  width: 140px;
  object-fit: cover;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.3),
    0 6px 24px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  cursor: pointer;
  opacity: 0.8;
  filter: contrast(1.1);
}

.badgeImage:hover {
  opacity: 1;
}

.badgeText {
  color: var(--badge-color);
  opacity: 0.8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .badgeImage {
    width: 120px;
  }
}

@media (max-width: 576px) {
  .badgeImage {
    width: 110px;
  }
}

@media (max-width: 350px) {
  .badgeImage {
    width: 95px;
  }

  @media (max-width: 300px) {
    .badgeImage {
      width: 85px;
    }
  }
}
