.credentialImageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.credentialImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.credentialImageContainer:hover .credentialImage {
  opacity: 0.3;
}

.hoverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.credentialImageContainer:hover .hoverText {
  opacity: 1;
}

.customButton {
  width: 160px;
  max-width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
}

.customButton:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.customButton:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.modalBody {
  background: linear-gradient(180deg, #1a1a1a 0%, #252525 50%, #1a1a1a 100%);
  border-radius: 7px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.4rem;
  color: #adadade8;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #505050;
}
