.footerBg {
  background: linear-gradient(180deg, #1a1a1a 0%, #252525 50%, #1a1a1a 100%);
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.footerIcon {
  color: var(--linkedin-color);
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footerLink {
  color: var(--tooltip-text-color);
  transition: color 0.3s ease;
}

.footerLinkHeader {
  color: var(--tooltip-text-color);
}

.footerLink:hover {
  color: #66b2ff;
}

@media (max-width: 575px) {
  .footerBg {
    padding-bottom: 0.1rem !important;
  }
  .footerIcon {
    margin-right: 12px !important;
  }
  .iconSpacing {
    margin-right: 2.5rem !important;
  }
}
