.footerBg {
  background: var(--bg-dark);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.footerIcon {
  color: var(--linkedin-color);
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footerLink {
  color: var(--text-light);
  transition: color 0.3s ease;
}

.footerLinkHeader {
  color: var(--text-light);
}

.footerLink:hover {
  color: #66b2ff;
}

@media (max-width: 575px) {
  .footerBg {
    padding-bottom: 0.1rem !important;
  }
  .footerIcon {
    margin-right: 12px !important;
  }
  .iconSpacing {
    margin-right: 2.5rem !important;
  }
}
