.heroImage {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.heroImage:hover {
  opacity: 0.9;
  filter: brightness(0.6);
  transform: scale(1.0075);
}

.developerTitle {
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.gradientText {
  background: linear-gradient(
    180deg,
    #012b47 0%,
    #00487a 25%,
    #006bb3 50%,
    #4a7fc2 75%,
    #5678b0 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 600;
  letter-spacing: 2.5px;
}

.customButton {
  width: 160px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #d1d1d1;
  transition: all 0.3s ease;
  color: #404040;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  padding: 0 15px;
}

.customButton:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.customButton:active {
  box-shadow:
    0 4px 3px 1px #fcfcfc,
    0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe,
    inset 0 0 5px 3px #999,
    inset 0 0 30px #aaa;
}

.customButton:focus {
  box-shadow:
    0 4px 3px 1px #fcfcfc,
    0 6px 8px #d6d7d9,
    0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe,
    inset 0 0 5px 3px #999,
    inset 0 0 30px #aaa;
}

.buttonIcon {
  margin-right: 10px;
  font-size: 1.1em;
  color: #252424;
}

.buttonText {
  font-size: 0.9em;
  margin-left: 0;
  line-height: 1;
  color: #252424;
}

@media (max-width: 768px) {
  .heroImage {
    width: 175px;
    height: 175px;
  }

  .developerTitle {
    font-size: 1rem;
    letter-spacing: 0.25px;
  }
}
