.heroImage {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.gradientText {
  background: linear-gradient(90deg, #252525, #fc7958f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.customButton {
  width: 150px;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttonIcon {
  margin-right: 0.2rem;
}

.buttonText {
  margin-left: 0.2rem;
}

@media (max-width: 768px) {
  .heroImage {
    width: 200px;
    height: 200px;
  }
}
