.modalCvBody {
  background: var(--modal-bg) !important;
  border: none !important;
  border-radius: 7.5px !important;
  position: relative !important;
  padding: 1rem !important;
  color: var(--text-light) !important;
  width: 100% !important;
}

.modalCv {
  --bs-modal-width: 350px !important;
}

.modalCvTitle {
  font-size: 1.4rem;
}

.flagContainer {
  margin-top: 2rem !important;
}

.flagIcon {
  font-size: 3.5rem;
  cursor: pointer;
  opacity: 0.8;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.flagIcon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.flagIcon:active {
  transform: scale(0.98);
}
