.modalCv {
  --bs-modal-width: 20rem !important;
}

.modalCvBody {
  background: linear-gradient(
    180deg,
    #1a1a1ae0 0%,
    #252525ce 50%,
    #1a1a1ad0 100%
  ) !important;
  border: none !important;
  border-radius: 7.5px !important;
  position: relative !important;
  padding: 1rem !important;
  color: #f0f0f0 !important;
  width: 100% !important;
}

.modalCvTitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.flagContainer {
  margin-top: 2rem !important;
}

.flagIcon {
  font-size: 3.75rem;
  cursor: pointer;
  opacity: 0.8;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.flagIcon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.flagIcon:active {
  transform: scale(0.98);
}
