.navIcon {
  color: #ff7f5fde;
}

.customToggle {
  border: none;
  background-color: transparent;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.3s ease, width 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  --bs-navbar-color: #ff7f5fde;
}

.customToggle:hover {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.1),
    4px 4px 15px rgba(0, 0, 0, 0.3);
  width: 42px;
  --bs-navbar-color: #ff7f5f91;
  --bs-navbar-toggler-focus-width: 0.12rem;
}

.customToggle:active {
  transform: scale(0.96);
}

.navbarBrand {
  font-weight: bold;
  background: linear-gradient(90deg, #c1d4ec, #c0c0c0, #a9a9a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
}

.nameNav {
  background: linear-gradient(90deg, #000000, #ff7e5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameNav:hover {
  color: #fff !important;
}

.navLink {
  color: #fff !important;
}

.navLink:hover {
  background-color: #d1cfcf31;
  color: #ddd !important;
  border-radius: 5%;
  padding-left: 3px;
  padding-right: 3px;
}
