.navIcon {
  color: #ff7f5fd8;
}

.customToggle {
  border: none;
  background: transparent;
}

.navbarBrand {
  font-weight: bold;
}

.nameNav {
  color: #ffffffc4 !important;
}

.nameNav:hover {
  color: #fff !important;
}

.navLink {
  color: #fff !important;
}

.navLink:hover {
  background-color: #d1cfcf31;
  color: #ddd !important;
  border-radius: 5%;
  padding-left: 3px;
  padding-right: 3px;
}
