.projectCard {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.projectCard .card-body {
  padding: 1.5rem;
}

.projectCard .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #343a40;
}

.projectCard .card-text {
  font-size: 0.95rem;
  color: #495057;
}

.description {
  line-height: 1.6;
}

.customButton {
  width: 125px;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttonIcon {
  margin-right: 0.2rem;
}

.buttonText {
  margin-left: 0.2rem;
}
