.projectCard {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.projectCard .card-body {
  padding: 1.5rem;
}

.projectCard .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #343a40;
}

.projectCard .card-text {
  font-size: 0.95rem;
  color: #495057;
}

.description {
  line-height: 1.6;
}

.customButton {
  width: 150px;
  max-width: 100%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center; /* Center-aligns content */
  position: relative;
}

.buttonIcon {
  width: 20px;
  height: 20px; /* Ensures a consistent icon size */
  position: absolute;
  left: 6%; /* Standardized margin from the left */
  top: 50%;
  transform: translateY(-50%); /* Vertically centers the icon */
}

.buttonText {
  margin-left: 10%;
  font-size: 0.92rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
