.spinnerContainer {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s;
}

.spinner {
  color: #007acc;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
