.experienceCard {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease !important;
}

.experienceCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15) !important;
}

.customBadge {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 0.2rem 0.5rem;
  margin-right: 0.8rem;
  border-radius: 0.25rem;
  font-size: 0.7rem;
}

#work-experience {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titleIcon {
  margin-right: 0.5rem;
  font-size: 1rem;
}
