/* Importing the Roboto Flex font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..1000&display=swap');

body {
  margin: 0;
  font-family:
    'Roboto Flex',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

code {
  font-family: 'Roboto Flex', 'Source Code Pro', Menlo, Monaco, Consolas,
    'Courier New', monospace;
  font-size: 0.96em;
}
