/* Custom Toastify Styles. This file contains custom styles for Toastify notifications to match the design of the application. */

.Toastify__toast {
  background: var(--bg-dark) !important;
  color: var(--text-light) !important;
  border-radius: 8px !important;
  padding: 12px !important;
  font-family: 'Poppins', sans-serif !important;
}

.Toastify__toast--success,
.Toastify__toast--error {
  background: var(--bg-dark) !important;
  color: var(--text-light) !important;
  border-radius: 8px !important;
  padding: 12px !important;
  font-family: 'Poppins', sans-serif !important;
}
