/* CSS variables for theme customization */

:root {
  --bs-body-bg: none !important;
  --bs-tertiary-bg: none !important;
  --bs-border-color: none !important;
  --bs-form-invalid-color: none !important;
  --bs-form-invalid-border-color: none !important;
  --bs-form-valid-color: none !important;
  --bs-form-valid-border-color: none !important;
  --bs-modal-padding: 0 !important;
  --bs-border-width: 0 !important;
  --bs-modal-border-width: 0 !important;
  --bs-modal-border-color: none !important;
  --bs-modal-box-shadow: none !important;
  --bs-modal-margin: 0 !important;
  --text-color: #2e2e2e;
  --background-gradient: linear-gradient(
    180deg,
    #e0e0e0 0%,
    #dcdcdc 50%,
    #d8d8d8 100%
  );
  --scrollbar-thumb-gradient: linear-gradient(
    180deg,
    #c0c0c0 0%,
    #bcbcbc 50%,
    #b8b8b8 100%
  );
  --scrollbar-thumb-hover-gradient: linear-gradient(
    180deg,
    #a0a0a0 0%,
    #909090 50%,
    #808080 100%
  );
  --scrollbar-track-gradient: linear-gradient(
    180deg,
    #2e2e2e 0%,
    #1e1e1e 50%,
    #171717 100%
  );
  --form-border-color: #f0f0f0;
  --linkedin-color: #0073b1;
  --github-color: #ffffff;
  --pdf-color: #e50914;
  --certificate-color: #ffdf00;
  --source-code-color: #4caf50;
  --copyright-text-color: #e0e0e0;
  --tooltip-text-color: #e0e0e0;
  --error-icon-color: #e50914;
  --card-background-gradient: linear-gradient(
    180deg,
    #f0f0f0 0%,
    #e8e8e8 25%,
    #e0e0e0 50%,
    #d8d8d8 75%,
    #d6d6d6 100%
  );
  --modal-background-gradient: linear-gradient(
    180deg,
    #1a1a1ad0 0%,
    #252525b0 50%,
    #1a1a1ab0 100%
  );
  --modal-text-color: #e0e0e0;
  --card-bg-image-url: url('../src/assets/imgBackground.webp');
  --badge-text-color: #2e2e2e;
  --main-icon-color: #2e2e2e;
  --section-title-color: #2e2e2e;
  --button-icon-color: #e0e0e0;
  --button-text-color: #e0e0e0;
  --btn-credential-background-gradient: linear-gradient(
    180deg,
    #4a4a4a 0%,
    #3a3a3a 50%,
    #2a2a2a 100%
  );
  --error-background-color: #f0f0f0;
  --error-text-color: #2c2c2c;
  --input-placeholder-color: #2c2c2c;
  --submit-button-gradient: linear-gradient(
    180deg,
    #0077cc 0%,
    #0066b2 50%,
    #005599 100%
  );
}
