/* Bootstrap variables */
:root {
  --bs-body-bg: none;
  --bs-border-color: none;
  --bs-border-width: 0;
  --bs-form-invalid-border-color: none;
  --bs-form-invalid-color: none;
  --bs-form-valid-border-color: none;
  --bs-form-valid-color: none;
  --bs-modal-border-color: none;
  --bs-modal-border-width: 0;
  --bs-modal-box-shadow: none;
  --bs-modal-margin: 0;
  --bs-modal-padding: 0;
}

/* CSS variables */
:root {
  --card-bg-image-url: url('../src/assets/imgBackground.webp');
  --transition: all 0.3s ease;
  --border-radius: 7.5px;
}

/* Fixed color variables */
:root {
  --bg-dark: #181818f5;
  --bg-transparent: transparent;
  --certificate-color: #ffc800;
  --trash-icon-color: #ffc800;
  --error-icon-color: #dc1a1a;
  --github-color: #ffffff;
  --linkedin-color: #0a66c2;
  --pdf-color: #dc1a1a;
  --source-code-color: #3fb950;
  --main-icon-color: #242424;
  --nav-link-color: #f3f3f3;
  --nav-link-hover-color: #40a9ff;
  --btn-bg-dark: #313131;
  --btn-bg-dark-hover: #242424;
  --btn-bg-primary: #0067dd;
  --btn-bg-primary-hover: #004797;
  --text-light: #f5f4f4;
  --nav-color: #f3f3f3;
  --text-hero: linear-gradient(180deg, #017bb5 25%, #026a99 50%, #3a8cc1 75%);
}

/* Light mode color variables */
:root {
  --body-bg: #cccccc;
  --card-bg: #ececec;
  --form-border-color: #dadada;
  --text-color: #0a0a0a;
}

/* Dark mode color variables */
[data-theme='dark'] {
  --body-bg: #242424;
  --card-bg: #202020;
  --text-color: #ececec;
  --form-border-color: #333;
}

/* Global styles */
body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--body-bg);
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 0.4px;
}

/* Scrollbar styles */
*::-webkit-scrollbar {
  width: 0.9rem;
  transition: var(--transition);
}

*::-webkit-scrollbar-thumb {
  background: var(--btn-bg-primary);
  border-bottom-left-radius: 7.5px;
  transition: var(--transition);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--btn-bg-primary-hover);
}

*::-webkit-scrollbar-track {
  background: var(--body-bg);
}
