.credentialButton {
  width: 145px;
  height: 30px;
  background: var(--btn-bg-dark);
}

.credentialButton:hover {
  background: var(--btn-bg-dark-hover);
}

.credentialButton:active {
  background: var(--btn-bg-dark-hover) !important;
}

.buttonIcon {
  margin-right: 5px;
  font-size: 0.9rem;
  color: var(--text-light);
}

.buttonText {
  color: var(--text-light);
}

.listItem {
  color: var(--text-color);
  margin-top: 1rem;
}

.listTitle {
  font-weight: 500;
  margin-right: 0.5rem;
  color: var(--text-color);
}
