.heroImage {
  width: 225px !important;
  height: 225px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15) !important;
  transition: all 0.3s ease !important;
}

.heroImage:hover {
  opacity: 0.9;
  filter: brightness(0.6);
  transform: scale(1.0075);
}

.developerTitle {
  font-size: 1.3rem !important;
  letter-spacing: 1.2px !important;
  text-transform: uppercase !important;
}

.gradientText {
  background: var(--text-hero);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: var(--bg-transparent);
  font-size: 2.8rem !important;
  letter-spacing: 3px !important;
}

.downloadButton {
  background-image: var(--btn-bg-primary);
}

.contactButton {
  background-image: var(--btn-bg-dark);
}

@media (max-width: 768px) {
  .heroImage {
    width: 185px !important;
    height: 185px !important;
  }

  .gradientText {
    font-size: 2.5rem !important;
    letter-spacing: 2px !important;
  }

  .developerTitle {
    font-size: 1.3rem !important;
    letter-spacing: 0.5px !important;
  }
}

@media (max-width: 525px) {
  .gradientText {
    font-size: 2.3rem !important;
    letter-spacing: 1.5px !important;
  }

  .developerTitle {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 340px) {
  .gradientText {
    font-size: 1.9rem !important;
  }

  .developerTitle {
    font-size: 1rem !important;
  }
}
