.technologies {
  margin-bottom: 1.5rem;
  transform: skew(-10deg);
}

.badgePosition {
  position: relative;
}

.hackathonBadge {
  position: absolute;
  bottom: 3rem;
  right: 0.5rem;
  width: 7rem;
  opacity: 0.9;
}

.userIcon {
  font-size: 1.3rem;
  color: var(--text-color);
}

.gitpodLogo {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  width: 3.5rem;
  opacity: 0.9;
}

.newBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-bg-primary) !important;
  color: var(--text-light) !important;
  margin-left: 0.5rem;
  height: 1.3rem;
  width: 2.7rem;
  border: none;
  font-size: 0.7rem;
  border-radius: 6.5px;
  transform: skew(-10deg);
}

.demoButton {
  width: 104px;
  height: 30px;
  background: var(--btn-bg-primary);
}

.demoButton:hover {
  background: var(--btn-bg-primary-hover);
}

.demoButton:active {
  background: var(--btn-bg-primary-hover) !important;
}

.githubButton {
  width: 104px;
  height: 30px;
  background: var(--btn-bg-dark);
}

.githubButton:hover {
  background: var(--btn-bg-dark-hover);
}

.githubButton:active {
  background: var(--btn-bg-dark-hover) !important;
}

.buttonIcon {
  margin-right: 10px;
  font-size: 0.9rem;
  color: var(--text-light);
}

.buttonText {
  font-size: 0.9rem;
  color: var(--text-light);
}

.githubStats img {
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: skew(-10deg);
  border-radius: 6.5px;
}

@media (max-width: 425px) {
  .hackathonBadge {
    width: 5.5rem;
  }
}
